<div class="container-fluid" ng-controller="materialsController">

    <div class="row" style="height:60px"></div>

    <div class="row">
        <div class="col-md-6 col-xs-6 col-sm-6">
            <div class="input-group input-group-sm pull-left searchBox" style="width:100%;">
            <span class="input-group-addon" style="width:15px;">
                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
            </span>
                <input type="text" class="form-control" placeholder="Material" ng-model="materialFilter"/>
            </div>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6">
            <div class="input-group input-group-sm pull-left searchBox" style="width:100%;">
            <span class="input-group-addon" style="width:15px;">
                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
            </span>
                <input type="text" class="form-control" placeholder="Crafted item" ng-model="materialOfFilter"/>
            </div>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6">
            <div class="input-group input-group-sm pull-left searchBox" style="width:100%;">
            <span class="input-group-addon" style="width:15px;">
                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
            </span>
                <input type="text" class="form-control" placeholder="Crafted item" ng-model="materialOfFilter">
                en
                </input>
            </div>
        </div>
    </div>

    <div class="text-info">
        Materials found: {{filteredMaterials.length}}<br/>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>
                    <a href="" ng-click="order('$key')">Material</a>
                    <span class="sortorder" ng-show="predicate === '$key'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="text-nowrap">
                    <a href="" ng-click="order('count')">Times used</a>
                    <span class="sortorder" ng-show="predicate === 'count'" ng-class="{reverse:reverse}"></span>
                </th>
                <th>\
                    Crafted material
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="materialUse in materials | toArray | filter:{$key:materialFilter, materialOf:materialOfFilter} | orderBy:predicate:reverse as filteredMaterials">
                <th class="text-nowrap">{{materialUse.$key}}</th>
                <td>{{materialUse.count}}</td>
                <td>
                    <span ng-repeat="item in materialUse.materialOf">
                        <a ng-href="http://bravefrontierglobal.wikia.com/wiki/{{item}}">{{item}}</a>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
